# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.tsbuildinfo

# Local / editor
.vite/
*.local
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example
